<launch>

  <arg name="UAV_NAME" default="" />

  <arg name="custom_config" default="$(find pairs_uav_testing)/config/default_pairs_simulator_config.yaml" />

  <include file="$(find pairs_multirotor_simulator)/launch/multirotor_simulator.launch">
    <arg name="custom_config" default="$(arg custom_config)" />
  </include>

</launch>
